.app {
	display: flex;
	flex-direction: column;
	width: 600px;
	border: 3px dashed black;
	margin: 40px 0;
}

.timers-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
	margin-bottom: 30px;
}

.control-panel {
	display: flex;
	justify-content: space-evenly;
	padding-bottom: 10px;
}

.button {
	width: 80px;
	border: none;
	border-radius: 5px;
	background-color: lightblue;
	padding: 5px 10px;
	cursor: pointer;
}

.button:hover {
	background-color: rgb(152, 191, 204);
}

@media (max-width: 680px) {
	.app {
		width: 400px;
	}
}

@media (max-width: 500px) {
	.app {
		width: 320px;
	}
}
