.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 120px;
	border-bottom: solid 1px #e3dcf9;
}

.upper {
	width: 100%;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	color: #3b3b3b;
}

.lower {
}

.tagline {
	font-size: 20px;
	color: #656565;
}
