.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 25px;
	align-items: center;
	height: 140px;
	border-bottom: solid 1px #e3dcf9;
}

.upper {
	width: 100%;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.title {
	color: #3b3b3b;
	margin: 0;
}

.tagline {
	font-size: 20px;
	font-weight: 500;
	color: #acacac;
}

@media (max-width: 720px) {
	.lower {
		display: none;
	}
}

@media (max-width: 550px) {
	.upper {
		flex-direction: column;
		align-items: center;
	}
}
