.nav {
	/* background-color: burlywood; */
	border-left: solid 1px black;
	border-top: solid 1px black;
	border-right: solid 1px black;
	border-radius: 5px 5px 0px 0px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.select {
	width: 100%;
	min-width: 80px;
	max-width: 110px;
	border: 1px solid #777;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
	background-color: #fff;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
	display: flex;
	flex-direction: row;
	align-items: center;
}

.select::after {
	content: '';
	width: 0.8rem;
	height: 0.5rem;
	background-color: #777;
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
