.nested-child {
	width: 140px;
	height: 140px;
	border-radius: 5px;
}

.light {
	color: #222222;
	background-color: #fff;
	border: 1px black dashed;
	border-radius: 5px;
	transition: all 0.2s;
}

.dark {
	color: #f1f1f1;
	background-color: #222222;
	border: 1px #f1f1f1 dashed;
	border-radius: 5px;
	transition: all 0.2s;
}
@media (max-width: 680px) {
	.nested-child {
		width: 80px;
	}
}
