.app {
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 300px;
	margin: 40px 0px 10px 0px;
	border: 3px dashed black;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.panel {
	margin-top: 20px;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 20px;
}

@media (max-width: 680px) {
	.app {
		width: 400px;
	}
}

@media (max-width: 500px) {
	.app {
		width: 320px;
	}
}
