.nav {
	border-left: solid 1px black;
	border-top: solid 1px black;
	border-right: solid 1px black;
	border-radius: 5px 5px 0px 0px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.theme-button {
	border: none;
	padding: 5px;
	border-radius: 100px;
}

.select {
	min-width: 80px;
	max-width: 110px;
	border: 2px solid #7c5ae3;
	border-radius: 4px;
	padding: 2px 4px;
	cursor: pointer;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.select select {
	color: #7c5ae3;
	font-size: 12px;
}

.select::after {
	content: '';
	width: 0.8rem;
	height: 0.5rem;
	background-color: #7c5ae3;
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.select:hover {
	background-color: #7c5ae3;
	color: white;
}

.select:hover select {
	color: white;
}

.select:hover::after {
	background-color: white;
}
